body {
	background-color: mediumseagreen;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lists {
	display: flex;
	gap: 0px 20px;
}

.listCard {
	border: 1px solid black;
	border-radius: 5px;
	background-color: #efefef;
	padding: 5px;
	width: 250px;
}

.listCard h2 {
	margin: 0;
	padding: 0;
}

.listCard ul {
	margin: 0;
	padding: 0;
	margin-left: 25px;
}

.list li.item:hover {
	background-color: #ff9;
	cursor: pointer;
}

.list li.item.done {
	text-decoration: line-through;
}

.list li.item.done:hover {
	background-color: rgb(255, 177, 153);
	cursor: pointer;
}

.list li.item.done:hover::after {
	content: '🗑️';
	font-size: 16px;
	color: rgb(3, 95, 3);
	margin-left: 8px;
}

.list li.item:hover::after {
	content: '✔';
	font-size: 16px;
	color: rgb(3, 95, 3);
	margin-left: 8px;
}

li.addItem {
	list-style:none;
	margin-top: 5px;
}
